@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    background-color: #FF9B7F;
}

/* Logo and navigation */

#header {
    position: relative;
    background-color: #695E7A;
    width: 100%;
    height: 100px;
    padding-top: 30px;

}

#logo {
    color: #FAEAFF;
    float:left;
    margin-left: 20px;
    text-transform: uppercase;
}



span {
    color: #FF9B7F;
}

nav {
    float: right;
}

nav ul li {
    display: inline;
    margin-right:20px;
    
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

}

nav a:hover {
    background-color: #FF9B7F;
    color: black;
    border: solid 1px #fff;
    padding: 5px;
}

/* Hero Image */

#hero-image {
    background: url("../images/hero.jpg") no-repeat center center;
    height: 650px;
    width: 100%;
}

#hero-section {
    position:relative;
}

#hero-image div {
    position: absolute;
    float:left;
    margin-top: 300px;
    margin-left: 20px;
    height: 30%;
    width: 30%;
    text-align: center;
    color: #695E7A;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: rgba(255, 155, 127, 1);
}

#hero-image p {
    color: white;
}

/* Services section S*/

.services div {
    display: inline-block;
    color: white;
    background-color: #695E7A;
    height: auto;
    width: 25%;
    padding: 30px;
    margin-bottom: 20px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    text-align: center;
}

.services h2 {
    text-align: center;
    text-transform: uppercase;
    color: #695E7A;
}

div .offer {
    margin: 15px;
}


.offer ul li {
    list-style-type: none;
    line-height: 1em;
    padding: 0px;
}

.offer h3 {
    text-decoration: underline;
    padding-left: 30px;
    text-transform: uppercase;
}

div .equipments {
    margin: 15px;
    background-color: #D87F90;
}

.equipments ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


/* payment plan*/

div .plan {
    text-align: center;
    margin: 15px;

}

div #six-months {
    line-height: 2.5em;
}

div #one-year {
    line-height: 1.7em;
}

div .button {
    background-color: #FF9B7F;
    border: 1px solid white;
    text-decoration: none;
    color: #371864;
    font-weight: bold;
    border-radius: 5px;
}

div .button:hover {
    background-color: white;
}

/* Footer */

footer {
    background-color: #695E7A;
    height: auto;
    width: 100%;
}

.bottom {
    text-align: center;
    color: white;
}

.bottom ul li {
    text-align: left;
    list-style-type: none;
}

.bottom div {
    display: inline-block;
    padding: 40px 20px;
    line-height: 1.9em;
    margin-right: 100px;
    
}

.bottom ul li {
    color: #ffffff;
    font-weight: bold;
}

.bottom ul a {
    text-decoration: none;
    color: #ffffff;
}

/* Gallery */



.main-gallery {
    clear: both;
    column-count: 3;
    margin: 30px;
}

.gallery img {
    width: 100%;
}
    

/* About us */


.our-services {
    height: auto;
    width: 90%;
    border: 3px solid #371864;
    margin: 10px 20px;
    text-align: center;
    padding: 20px 40px;
    line-height: 30px;
    color: #371864;
    font-weight: 600;
    font-size: 20px;
    word-spacing: 4px;
    border-radius: 20px;
}

#about-us h2 {
    margin: 30px;
    text-align: center;
    color: #371864;
}

#reg {
    text-decoration: none;
    color: #371864;
}

#reg:hover {
    color: #fff;
}

.team {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 40px;
}

.our-team img {
    width: 16.7rem;
    height: 16.7rem;
    padding: 10px 10px;
    border-radius: 50%;
    border: 2px solid #371864;
}

.team #manager {
    margin: 10px;
    width: 30%;
    text-align: center;
    color: #fff;
}

.team #finance {
    margin: 10px;
    width: 30%;
    text-align: center;
    color:#fff;
}

.team #coach {
    margin: 10px;
    width: 30%;
    text-align: center;
    color: #fff
}

/* Registration Form */

#form {
    margin:50px;
    padding: 0;
    height: 900px;
    background: url("../images/background.jpg") no-repeat center center;
    background-size: cover;
}

form {
    width: 80%;
    max-width: 600px;
    background: rgba(255, 155, 127, 0.9);
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
}

.register {
    margin: 10px 0;
    padding: 10px 15px;
    border: 1px solid #695E7A;
    border-radius: 10px;
}

.register label {
    display: block;
    text-align: left;
    color: #000;
    font-weight: bold;
}

.register input {
    width: 50%;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
}

form h2 {
    color: #695E7A;
    text-transform: uppercase; 
}

form #button {
    background-color: #695E7A;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#button:hover {
    background-color: #fff;
    color: #695E7A;
    border: 1px solid #695E7A;
}


@media screen and (max-width: 1280px) {
    .our-services {
        width: 85%;
        margin: 10px 20px;
        padding: 20px 40px;
        line-height: 30px;
     
    }

    .services div {
        clear: left;
        width: 20%;
        margin-left: 40px;
        text-align: center;
        
    }

    form {
        top: 80%;
    }

}

@media screen and (max-width: 1024px) {
    form {
        top: 110%;
    }
}




@media screen and (max-width: 984px) {

    nav {
        clear: left;
        float: left;
        margin-left: 0px;
        margin-bottom: 40px;
        margin-top: 0px;
        line-height: 5px;
    }


    #header {
        width: 100%;
        height: 100px;
        padding-bottom: 30px;
    }

    #logo {
        margin-left: 40px;
    }


    div .offer {
        clear: left;
        width: 20%;
        text-align: center;

    }

    div .equipments {
        clear: left;
        width: 20%;
        text-align: center;

        
    }

    div .plan {
        clear: left;
        width: 20%;
        text-align: center;

    }

    .our-services {
        margin-top: 50px;
       
     
    }


    .our-team img {
        width: 14rem;
        height: 14rem;
        
        
    }

    #about-us h2 {
        margin: 50px;
        
    }

   

   
}

@media screen and (max-width: 912px) {

    
    div .offer {
       width: 25%;
       margin-left: 45px;
       margin-right: 0px;
       padding: 10px;
       text-align: center;

    }

    div .equipments {
        width: 25%;
        margin-left: 45px;
        margin-right: 0px;
        padding: 10px;
        text-align: center;
       

        
    }

    div .plan {
        width: 25%;
        margin-left: 45px;
        margin-right: 0px;
        padding: 10px;
        text-align: center;
       

    }

    .bottom div {
        padding: 20px 10px;
        line-height: 1.9em;
        margin-right: 60px;
        
    }


    .our-team img {
        width: 12.5rem;
        height: 12.5rem;
        
    }

    form {
        top: 50%;
    }


}


@media screen and (max-width: 820px) {
    #hero-image div {
        margin-left: 35px;

    }
    
    div .offer {
        width: 25%;
        margin-left: 35px;
      
 
 
     }
 
     div .equipments {
         width: 25%;
         margin-left: 35px;
       
        
 
         
     }
 
     div .plan {
         width: 25%;
         margin-left: 35px;
        
 
     }

     div .list-items {
        margin: 10px;
     }

     .bottom div {
        padding: 20px 10px;
        margin-right: 0px;
        
    }

    .our-services {
        width: 90%;
        margin-left: 50px;
        padding: 10px;
     
    }

    form {
        top: 50%;
    }


}

@media screen and (max-width: 768px) {
    #hero-image div {
        margin-left: 45px;

    }

    div .offer {
        width: 25%;
        margin-left: 45px;
        margin-right: 0px;
        padding: 5px;
        
 
 
     }
 
     div .equipments {
         width: 25%;
         margin-left: 45px;
         margin-right: 0px;
         padding: 5px;
        
        
 
         
     }
 
     div .plan {
         width: 25%;
         margin-left: 45px;
         margin-right: 0px;
         padding: 5px;
    
        
 
     }

     .our-services {
        width: 80%;
        margin-right: 10px;
        margin-left: 60px;
        padding: 5px 0px;
     
    }

    .team {
        margin-left: 0px;
        margin-right: 10px;
    }

    .our-team img {
        width: 8.5rem;
        height: 8.5rem;
        
    }

    #about-us h2 {
        margin: 50px;
        
    }

    form {
        top: 65%;
    }

  
}

@media screen and (max-width: 662px) {

    nav a {
        clear: left;
        font-size: 17px;

    
    }


.offer ul li {
    line-height: 1em;
    list-style-type: none;
    
}

.equipments ul li {
    list-style-type: none;
}

    
    div .offer {
        width:20%;
       margin-left: 20px;
       margin-right: 0px;
       padding: 15px;
       text-align: center;
       font-size: 1rem;


    }

    div .equipments {
        width:20%;
        margin-left: 20px;
        margin-right: 0px;
        padding: 15px;
        text-align: center;
       

        
    }

    div .plan {
        width:20%;
        margin-left: 20px;
        margin-right: 0px;
        padding: 15px;
        text-align: center;
       

    }

    .bottom div {
        padding: 20px 10px;
        line-height: 1.9em;
        margin-right: 60px;
        
    }

    .our-services {
        width: 90%;
        margin-right: 0px;
        margin-left: 10px;
        padding: 5px 0px;
     
    }

    .team {
        margin-left: 0px;
        margin-right: 10px;
    }


    .our-team img {
        width: 10rem;
        height: 10rem;
        
    }

    .register {
        margin: 10px 0;
        padding: 5px 10px;
    }

    form {
        padding: 30px;
    }


}

@media screen and (max-width: 540px) {
    nav a {
        font-size: 14px;
        padding: 0px;

    
    }

    #hero-image div {
        height: 30%;
        width: 45%;
        
       
    }

    .offer h3 {
    font-size: 0.9rem;
}



    
    div .offer {
        height: 170px;
        width: 65%;
        margin-left: 70px;
        margin-right: 0px;

     
    }


    div .equipments {
        width: 65%;
        margin-left: 70px;
        margin-right: 0px;
    }

    div .plan {
        width: 65%;
        margin-left: 70px;
        margin-right: 0px;
       
    }

    div button {
        height: 2.5rem;
        width: 4.2rem;
        font-size: 0.6rem;
        
    }

    .our-services {
        width: 85%;
        margin-left: 40px;
        padding: 0px;
     
    }

    #about-us h2 {
        text-align: center;
    }




    .our-team img {
        width: 8rem;
        height: 8rem;
        
    }

    .our-team {
        margin-left: 5px;
        margin-right: 5px;
    }

    .register {
        margin: 5px 0;
        padding: 3px 5px;
    }

   form {
    top: 90%;
   }

    #form {
        margin: 30px;
    }

    form #button {
        font-size: 1rem;
    }

}

@media screen and (max-width: 412px) {
    #logo{
        margin-left: 40px;
        font-size: 10px;
        
    }
   
   
    nav a {
        font-size: 12px;
        padding: 0px;
        margin-left: 5px;

    
    }

    
#hero-image div {
    height: 30%;
    width: 30%;
    
   
}

#hero-image div h2 {
    font-size: 18px;
}

#hero-image div p {
    font-size: 14px;
}

div .offer {
    width: 60%;
    margin-left: 60px;
   
}

div .offer h3 {
    text-align: center;

}

.offer ul li {
    line-height: 1.2em;
    text-align: center;
    
}

div .equipments {
    width: 60%;
    margin-left: 60px;
}

div .equipments h3 {
    text-align: center;

}

.equipments ul li {
    line-height: 1.2em;
    text-align: center;
    
}

div .plan {
    width: 60%;
    margin-left: 60px;
   
}

.main-gallery {
    margin: 5px;
}

#about-us h2 {
    text-align: center;
}

.our-services {
    margin-left: 15px;
    margin-right: 5px;
}


.our-team img {
    width: 5.8rem;
    height: 5.8rem;
}

form {
    position: absolute;
    top: 70%;
    left: 50%;
  
}

}

@media screen and (max-width: 360px) {
    nav a {
        font-size: 10px;
        padding: 0px;
        margin-left: 0px;

    
    }

    #hero-image div {
        height: 25%;
        width: 35%;
        
       
    }

    .our-services {
        width: auto;
        margin: 15px 0px;
    }

    .team {
        margin-left: 0px;
    }

}

@media screen and (max-width: 280px) {
    #hero-image div {
        height: 30%;
        width: 55%;
        
       
    }

   div .offer {
        width: 80%;
        margin-left: 15px;
        margin-right: 20px;
       
    }

    div .equipments {
        width: 80%;
        margin-left: 15px;
        margin-right: 20px;
    }

    div .plan {
        width: 80%;
        margin-left: 15px;
        margin-right: 20px;
       
    }

    .main-gallery {
        margin: 5px;
    }

    #about-us {
        margin-left: 0px;
        margin-right: 40px;
        padding: 0px 0px;
    }

    .team {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 20px;
    
    }

  

    .team img {
        width: 14rem;
        height: 14rem;

    }

    

    form {
        top: 80%;
      
    }

  #form {
    margin: 5px;
  }

  .register input {
    width: 100%;
    padding: 2px;
   
}

.register label {
    text-align: center;
}

}




















