body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(255, 155, 127, 0.3);
}

/* Logo and navigation */

#header {
    position: relative;
    background-color: #695E7A;
    width: 100%;
    height: 100px;
    padding-top: 30px;

}

#logo {
    color: #FAEAFF;
    float:left;
    margin-left: 20px;
    text-transform: uppercase;
}



span {
    color: #FF9B7F;
}

nav {
    float: right;
}

nav ul li {
    display: inline;
    margin-right:20px;
    
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

}

nav a:hover {
    background-color: #FF9B7F;
    color: black;
    border: solid 1px black;
    padding: 5px;
}

/* Hero Image */

#hero-image {
    background: url("../images/hero.jpg") no-repeat center center;
    height: 650px;
    width: 100%;
}

#hero-section {
    position:relative;
}

#hero-image div {
    position: absolute;
    float:left;
    margin-top: 300px;
    margin-left: 20px;
    height: 30%;
    width: 30%;
    text-align: center;
    color: #695E7A;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #FF9B7F;
}

#hero-image p {
    color: white;
}

/* services */


.services div {
    display: inline-block;
    color: white;
    background-color: #695E7A;
    height: 250px;
    width: 25%;
    padding: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;  

}

.services h2 {
    text-align: center;
    text-transform: uppercase;
    color: #695E7A;
}

.offer ul li {
    line-height: 1em;
    padding: 5px;
}

.offer h3 {
    text-decoration: underline;
    padding-left: 30px;
    text-transform: uppercase;
}

div .equipments {
    background-color: #D87F90;
}

/* payment plan*/

div .plan {
    text-align: center;

}

div #six-months {
    line-height: 2.5em;
}

div #one-year {
    line-height: 1.7em;
}

div button {
    background-color: #FF9B7F;
    color: white;
    height:50px;
    width: 100px;
    border: solid 3px #A06E8F;
    border-radius: 10px;
}

div button:hover {
    background-color: #ffffff;
    color: #695E7A; 
}

/* Footer */

footer {
    background-color: #695E7A;
    height: auto;
    width: 100%;
}

.bottom {
    text-align: center;
    color: white;
}

.bottom ul li {
    text-align: left;
    list-style-type: none;
}

.bottom div {
    display: inline-block;
    padding: 40px 20px;
    line-height: 1.9em;
    margin-right: 100px;
    
}

.bottom ul i {
    color: #ffffff;
    size: 100px;
}

.bottom ul a {
    text-decoration: none;
    color: #ffffff;
}

/* Gallery */

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.main-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.gallery img {
    height: 500px;
    margin: 10px 0;
    border-radius: 20px;
}


.main-section .main-gallery .gallery {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
}

/* About us */

.our-services {
    height: auto;
    width: 100%;
    border: 3px solid #695E7A;
    margin: 10px 40px;
    text-align: center;
    padding: 20px 40px;
    line-height: 30px;
    color: #695E7A;
    font-weight: 600;
    font-size: 17px;
}

div h2 {
    text-align: center;
}

.team {
    background-color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 40px;
}

.our-team img {
    width: 350px;
    height: 350px;
    padding: 10px 10px;
    border-radius: 50%;
}

.team #manager {
    margin: 10px;
    width: 30%;
    text-align: center;
    color: #fff;
}

.team #finance {
    margin: 10px;
    width: 30%;
    text-align: center;
    color:#fff;
}

.team #coach {
    margin: 10px;
    width: 30%;
    text-align: center;
    color: #fff
}














